.footer {
  background-color: var(--bg-footer);
  padding: var(--desktop-padding);
  display: flex;
  justify-content: space-between;
}

.contact_box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer_heading {
  color: var(--main-color);
  font-size: var(--font-size-xxxl);
  font-weight: var(--font-weight-regular);
}

.address {
  font-size: var(--font-size-xl);
}

.footer_paragraph {
  display: flex;
  align-items: center;
  font-size: var(--font-size-xl);
}

.icon_span {
  height: 80%;
  margin-right: 0.9375rem;
}

.reservation_btn {
  color: var(--neutral-color);

  margin-left: 1.25rem;
  padding: 0.9375rem 1.25rem;
  font-size: var(--font-size-xl);
  background-color: var(--main-color);
  border: none;
  transition: var(--transaction);
  border-radius: var(--border-radius);
  font-family: var(--buttons-text-font);
  font-weight: var(--buttons-text-font-weight);

  &:hover {
    background-color: var(--accent-color);
    color: var(--light-color);
  }
}

.map {
  border: none;
}
