.menu_item_container {
  display: flex;
  border: 2px solid var(--text-color);
  padding: 3rem;
}

.menu_item_image {
  flex: 1;
}

.menu_item_details {
  position: relative;
  flex: 2;
}
.dish_img {
  margin-right: 3rem;
}

.menu_item_title {
  font-size: var(--font-size-xxl);
  margin: 0;
}
.ingredients_title {
  margin-bottom: 0;
  text-align: left;
  font-weight: var(--font-weight-bold);
}
.ingredients_list {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
}
.menu_item_ingredients {
  font-size: var(--font-size-m);
  margin-bottom: 0.5rem;
}
.required_span {
  margin-left: 0.5rem;
  color: var(--error-color);
}

.menu_item_portion {
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  text-align: start;
}

.menu_item_price {
  text-align: start;
  font-size: var(--font-size-l);
  margin-bottom: 0.5rem;
}

.menu_button {
  position: absolute;
  top: 45px;
  border: none;
  text-align: left;
  background-color: transparent;
  font-size: var(--font-size-m);
  cursor: pointer;
  transition: all 0.4s;
}

.menu_button:hover {
  transform: scale(1.1);
}

.menu_button_cart {
  font-weight: var(--font-weight-bold);
  padding: 15px 35px;
  border: none;
  background-color: var(--bg-color);
  transition: all 0.4s;
  border: 2px solid var(--btn-rgba);
  cursor: pointer;
}
.menu_button_cart:hover {
  border: 2px solid var(--text-color);
  transform: scale(1.1);
}
