.orders_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--desktop-internal-padding);
  margin: 0 auto;
}

.orders_item {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.order_table_header {
  position: relative;
  width: 100%;
}

.order_title {
  color: var(--main-color);
}

.order_img {
  border-radius: 1rem;
  width: 150px;
  height: 150px;
}

.orders_status_wrapper {
  display: flex;
  justify-content: space-between;
}
.orders_image {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.order_table {
  width: 100%;
  padding: 2rem;
  background: var(--neutral-color);
  border: 0.1rem solid var(--background-color);
  border-radius: 1rem;
  margin: 1rem 0;
}
.order_table_wrapper {
  position: relative;
}
.order_table_comleted {
  position: absolute;

  z-index: 1;
  border-radius: 0.5rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.order_table_item {
  position: relative;
  padding: 2rem;
}

.order_table_item::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 1.2rem;
  width: 100%;
  height: 0.1rem;
  background-color: var(--background-color);
}

.table_body {
  margin-bottom: 3rem;
}

@media screen and (max-width: 876px) {
  .orders_list {
    padding: 1rem 0;
    gap: var(--tablet-internal-padding);
  }

  .order_table {
    font-size: 0.8rem;
    padding: 0;
  }

  .orders_status_wrapper {
    font-size: 0.7rem;
    padding: 1rem;
  }

  .orders_item {
    display: flex;
    flex-direction: column;
    width: auto;
  }
}
.order_quantity {
  text-align: center;
}
.canceled {
  color: var(--cancel);
}
.active {
  color: var(--active);
}
.completed {
  color: var(--completed);
}
.confirmation_modal {
  background-color: var(--background-color);
}
