.not_found_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  height: 100vh;
  padding: var(--desktop-padding);
}

.not_found_img {
  transform: rotate(-30deg);
}

.not_found_paragraph {
  max-width: 28rem;
  font-size: var(--font-size-m);
  text-align: center;

  @media screen and (min-width: 876px) {
    max-width: 40rem;
    font-size: var(--font-size-xl);
  }
}
.not_found_heading {
  text-transform: uppercase;
}
