.cart {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: var(--desktop-padding);
}
.cart_remove_all_btn {
    margin-top: 1rem;
    padding: 6px 16px;
    transition: var(--transaction);
    background-color: var(--accent-color);
    cursor: pointer;
    border: none;
    border-radius: var(--border-radius);
    font-size: var(--font-size-xxl);
    font-family: var(--buttons-text-font);
    color: var(--main-color);
    text-align: start;

    &:hover {
      background-color: var(--main-color);
      color: var(--accent-color);
  }
}

.cart_list {
    display: flex;
    flex-direction: column;
    gap: var(--font-size-xxl);
    margin: 0;
    padding: var(--desktop-internal-padding);
}
.cart_list_wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
}
