.welcome_section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;

  overflow: hidden;
}

.welcome_section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../../assets/images/obar-bg.webp');
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(5px);
}
.welcome_title {
  position: relative;
  z-index: 5;
  color: var(--main-color);
  font-family: var(--buttons-text-font);
  font-weight: var(--buttons-text-font-weight);
  font-size: var(--font-size-xxxl);
  text-shadow: 1px 1px 1px #fff;
  margin-bottom: 2rem;
}

.welcome_wrapper {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.form_container {
  padding: var(--desktop-padding);
  margin: 0 auto;
}
