.welcome_section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  background-color: rgb(177, 176, 176);
}

.welcome_title {
  color: var(--main-color);
}

.welcome_wrapper {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.form_container {
  padding: var(--desktop-padding);;
  margin: 0 auto;
}
