.pagination {
  display: flex;
  padding-top: 4rem;
  justify-content: center;
  gap: 3rem;
}

.page_item {
  font-weight: bold;
  font-size: 1.2rem;
}

.page_link {
  cursor: pointer;
}

.active {
  font-size: 1.7rem;
  color: var(--accent-color);
}
