.summary_section {
  border: 1px solid ;
  width: 500px;
  background: #fefefe;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}

.summary_title {
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-bold);
  color: var(--main-color);
  text-align: center;
}
.summary_list {
  list-style: none;
}
.summary_item {
  display: flex;
  justify-content: space-between;
}

.summary_item:last-child {
  width: 100%;
}

.summary_item_accent {
  font-weight: var(--font-weight-regular);
}

.summary_total {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: var(--font-size-xl);
  font-family: Inter;
  font-weight: var(--font-weight-bold);
  color: var(--text-color);
}
