.text_input {
  width: 100%;

  color: var(--text-color);
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-regular);

  padding-left: 0.6rem;
  margin-bottom: 1.8rem;
  padding: 1rem 0.5rem;

  border-radius: 1.25rem;
  border: none;
}

.error_message {
  color: var(--error-color);
  padding: 0;
  margin: 0;
  margin-top: -0.6rem;
}

.error_border {
  border: 0.125rem solid var(--error-color);
}
