.text_input {
  width: 100%;

  padding-left: 0.6rem;
  margin-bottom: 1.8rem;
  padding: 1rem 0.5rem;

  border-radius: 1.25rem;
  border: 1px solid var(--background-color);

  font-family: var(--text-font);
  font-weight: var(--text-font-weight);
}

.error_message {
  color: var(--error-color);
  padding: 0;
  margin: 0;
  margin-top: -2rem;
}

.error_border {
  border: 0.125rem solid var(--error-color);
}
.password_button{
  position: absolute;
  top: 0.9rem;
  right: 1rem;
}
.input_wrapper{
  position: relative;
}