.cart_item_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  gap: 1rem;
  border: 1px solid var(--main-color);
  border-radius: 1rem;

  @media screen and (min-width: 876px) {
  }

  @media screen and (min-width: 1450px) {
    /* gap: 2rem; */
    /* align-items: center; */
  }
}

.img_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.trash_icon {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transition: all 0.2s;
  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

.cart_item_image {
  width: 120px;
  height: 120px;

  @media screen and (min-width: 876px) {
    width: 150px;
    height: 150px;
  }

  @media screen and (min-width: 1450px) {
    width: 15rem;
    height: 10rem;
  }
}

.title_wrapper {
  width: 150px;
  
  @media screen and (min-width: 876px) {
    width: 300px;
  }
  @media screen and (min-width: 1450px) {
    width: 200px;
  }
}

.cart_item_title {
  font-size: var(--font-size-m);

  @media screen and (min-width: 1450px) {
    font-size: var(--font-size-xl);
    margin-bottom: 1rem;
  }
}

.cart_item_price {
  @media screen and (min-width: 1450px) {
    font-size: var(--font-size-xl);
    margin-bottom: 1rem;
  }
}
