.orders_table {
  border-collapse: collapse;
  width: 100%;
}

.orders_table td,
th {
  border: 0.1rem solid var(--accent-color);
  text-align: center;
  padding: 1rem;
}

.orders_table tr:nth-child(even) {
  background-color: var(--accent-color);
}

.edit_input {
  width: 100%;

  padding-left: 0.6rem;
  padding: 0.5rem 0.5rem;

  border-radius: 1.25rem;
  border: 1px solid var(--background-color);

  font-family: var(--text-font);
  font-weight: var(--text-font-weight);
}

.action_container {
  display: flex;
  justify-content: space-evenly;
}

.canceled {
  color: var(--cancel);
}
.active {
  color: var(--active);
}
.completed {
  color: var(--completed);
}
