:root {


  /* Colors */
  --main-color: #800020;
  --accent-color: #daa520;
  --neutral-color: #fff5e1;
  --highlight-color: #556b2f;
  --complementary-color: #008080;
  --background-color: #d3d3d3;

  --primary-background: #d3d3d3;
  --primary-text: #556b2f;
  /* --accent-color: #800020; */
  --secondary-accent-color: #daa520;
  --additional-accent-color: #008080;
  --neutral-background: #fff5e1;
  --error-color: #d32f30;


}
