:root {
  /* Font */

  --heading-font: 'Montserrat', sans-serif;
  --heading-font-weight: bold;

  --titles-subheadings-font: 'Playfair Display', serif;
  --titles-subheadings-font-weight: 600;

  --text-font: 'Roboto Slab', serif;
  --text-font-weight: 400;

  --links-font: 'Dosis', sans-serif;
  --links-font-weight: 500;

  --buttons-text-font: 'Pacifico', cursive;
  --buttons-text-font-weight: 400;
}
