.header_wrapper {
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.2rem;
  background-color: var(--main-color);
  font-size: var(--font-size-l);
  color: var(--neutral-color);
}

.logo {
  min-width: 6rem;
  min-height: 6rem;
}

@media screen and (max-width: 550px) {
  .logo {
    display: none;
  }
}
.menu_btn {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 876px) {
  .open_menu_btn {
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 876px) {
  .open_menu_btn {
    display: none;
  }
}
