.menu_item_container {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: center;
  text-align: left;
  gap: 5rem;
  color: var(--main-color);
  display: flex;
  padding: 1rem;
  border-radius: 1rem;
  background-image: url('../../../assets/icons/back.png');
  background-size: auto;
  background-position: center;
  background-repeat: repeat;
}

.menu_item_details {
  backdrop-filter: blur(1px);
  border-radius: 2rem;
  padding: 2rem;
}
.dish_img {
  max-width: 395px;
  /* padding: 2rem; */
  border-radius: 1rem;
  /* margin-right: 2rem; */
}

.menu_item_title {
  font-size: var(--font-size-xxxl);
  margin-bottom: 3rem;
}

.edit_box {
  max-width: 70%;
  display: flex;
  /* gap: 4rem; */
}

.ingredients_title {
  margin-right: auto;
  font-size: var(--font-size-xxl);
  color: var(--main-color);
  font-weight: var(--font-weight-bold);
}
.ingredients_list {
  margin: 0;
  padding: 0;
}
.ingredients_item {
  font-style: italic;
  font-size: var(--font-size-l);
  margin-bottom: 0.5rem;
}
.required_span {
  margin-left: 0.5rem;
  color: var(--error-color);
}

.menu_item_portion {
  font-size: var(--font-size-s);
  margin-bottom: 0.5rem;
}

.menu_item_price {
  font-size: var(--font-size-l);
  margin-bottom: 1.2rem;
}

.button_box {
  display: flex;
}

.menu_button {
  border: none;
  background-color: var(--accent-color);
  color: var(--main-color);
  font-size: var(--font-size-s);
  cursor: pointer;
  transition: all 0.4s;
  border-radius: var(--border-radius);
  padding: 0.1875rem 0.625rem;
}

.menu_button:hover {
  transform: scale(1.03);
}

.menu_button_cart {
  padding: 1rem 2.3rem;
  font-size: var(--font-size-l);
  border: none;
  transition: all 0.4s;
  border: 2px solid var(--btn-rgba);
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--main-color);
  border-radius: var(--border-radius);
}
.menu_button_cart:hover {
  border: 2px solid var(--text-color);
  transform: scale(1.1);
}

@media screen and (max-width: 876px) {
  .menu_item_container {
    flex-direction: column;
    align-items: center;
  }

  .menu_button {
    position: unset;
  }

  .buttons_container {
    gap: 0.5rem;
  }
}
