.menu_item {
  padding: 30px 20px 20px;
  list-style: none;
  flex: 0 0 22%;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  text-align: center;
  max-width: 256px;
  height: 380px;
}

.menu_item_img {
  width: 180px;
  height: 170px;
  margin-bottom: 1rem;
}
.menu_item_title {
  font-size: var(--font-size-s);
}

.menu_item_price {
  font-size: var(--font-size-s);
}
.add_to_cart_btn {
  font-weight: var(--font-weight-bold);
  padding: 6px 20px;
  border: none;
  background-color: var(--bg-color);
  transition: all 0.3s;
  border: 1px solid var(--btn-rgba);
}

.add_to_cart_btn:hover {
  border: 1px solid var(--text-color);
  transform: scale(1.02);
}

.menu_link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
}
