.registration_title {
  text-align: left;

  font-size: var(--font-size-xxl);
  padding-bottom: var(--mobile-internal-padding);
}
.registration_btn {
  width: 100%;
  text-align: center;
}

.login_btn {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
}

.registration_form {
  width: 30rem;
  padding: 2rem;
  border-radius: var(--border-radius);
  background-image: url('../../../assets/icons/back.png');

  background-size: contain;

  @media screen and (max-width: 570px) {
    width: 20rem;

    padding: var(--mobile-internal-padding);
  }

  @media screen and (min-width: var(--breakpoint-tablet)) {
    width: 25rem;
  }
  @media screen and (min-width: var(--breakpoint-desktop)) {
    width: 30rem;
  }
}
