.account_section {
  display: flex;
  flex-direction: column;
  padding: var(--desktop-padding);

  @media screen and (min-width: 876px) {
    flex-direction: row;
    gap: 4rem;
  }
  @media screen and (min-width: 1450px) {
    gap: 7rem;
  }
}

.account_list {
  margin: auto;
  @media screen and (min-width: 876px) {
    margin: 0;
  }
}
.account_item {
  width: 200px;
  text-decoration: none;
  text-align: center;
  color: var(--main-color);
  font-size: var(--font-size-xl);
  margin-bottom: 3rem;

  @media screen and (min-width: 876px) {
    width: 240px;
    text-align: start;
    font-size: var(--font-size-xl);
    font-weight: 300;
  }
  @media screen and (min-width: 1450px) {
    font-size: var(--font-size-xxl);
  }
}

.account_item a {
  padding: 1rem;
  border-radius: 2rem;
}
