.account_section {
  display: flex;
  gap: 100px;
  padding: 40px 60px;
}

.account_list {
  list-style: none;
  position: relative;

  &::after {
    content: '';
    top: 0;
    bottom: 0;
    right: -20px;
    width: 1px;
    background-color: var(--background-color);
    position: absolute;
  }
}
.account_item {
  text-decoration: none;
  color: var(--main-color);

  font-size: 30px;
  font-weight: 300;

  margin-bottom: 40px;
}

.account_item a {
  text-decoration: none;
}

.isActive {
  font-weight: 700;
}
