.reservationForm_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reservationForm {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--accent-color);
  padding: 50px 60px;
  border-radius: 10px;
  gap: 20px;

  @media screen and (min-width: 876px) {
    padding: 50px 100px;
  }
}
.reservation_form_title {
  color: var(--main-color);
}
