.add_payment_button {
  width: 31rem;
  margin-bottom: 1.8rem;
  padding: 6px 16px;

  border-radius: var(--border-radius);
  color: var(--neutral-color);
  font-size: var(--font-size-xxl);
  background-color: var(--main-color);

  margin-top: 1.8rem;

  transition: var(--transaction);
  cursor: pointer;

  &:hover {
    background-color: var(--accent-color);
    color: var(--light-color);
  }
}

.payment_input_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35rem;
}

.payment_input {
  width: 25rem;
}

.delivery_address_form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.payment_select_wrapper {
  flex: 1;
}

.expiration_select_wrapper {
  display: flex;

  gap: 2.5rem;
}

.expiration_select_input {
  border: 1px solid var(--background-color);
  border-radius: 1rem;
}

@media screen and (max-width: 876px) {
  .add_payment_button {
    width: auto;
  }
  .payment_input_wrapper {
    flex-direction: column;
    align-items: flex-start;
    width: auto;
  }

  .payment_input {
    width: 20rem;
  }
}
