.payment_section {
  display: flex;
  flex-direction: column;
}

.payment_cards_title {
  font-size: var(--font-size-xxl);
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  text-transform: uppercase;

}