.error_section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: var(--desktop-padding);
}

.error_img {
  transform: rotate(-30deg);
  margin-bottom: 2rem;
}

.error_paragraph {
  text-align: center;
  max-width: 28rem;
  font-size: var(--font-size-m);

  @media screen and (min-width: 876px) {
    max-width: 40rem;

    font-size: var(--font-size-xl);
  }
}
