.user_image_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user_info_section {
  display: flex;
  gap: 3.1rem;
}

.image_change_button {
  font-size: var(--font-size-xxl);
  background-color: var(--main-color);
  color: var(--neutral-color);
  padding: 6px 16px;

  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
  transition: var(--transaction);

  &:hover {
    background-color: var(--accent-color);
    color: var(--light-color);
  }
}

.user_info_form {
  display: flex;
  flex-direction: column;
}
