.search_container {
  width: 20rem;
  margin-right: 2rem;
}

.search_bar {
  width: auto;
  color: var(--accent-color);
}

@media screen and (max-width: 876px) {
  .search_container {
    width: 60%;
  }
}
