.container {
  width: 20rem;
}
.search_container {
  width: 20rem;
  margin-right: 2rem;
}

.search_bar {
  width: auto;
  border-radius: 10%;
  color: black;
}

@media screen and (max-width: 876px) {
  .search_container {
    width: 60%;
  }
}
