.login_wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.login_btn {
  text-align: center;
}
.login_title {
  text-align: center;
  padding-bottom: var(--mobile-internal-padding);
  font-size: var(--font-size-xxl);
  text-align: left;
  @media screen and (min-width: 1450px) {
    padding-bottom: 2rem;
  }
}

.registration_btn {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
}
.login_form {
  width: 30rem;

  padding: 2rem;
  border-radius: var(--border-radius);
  background-image: url('../../../assets/icons/back.png');
  background-size: contain;

  @media screen and (max-width: 570px) {
    width: 20rem;

    padding: var(--mobile-internal-padding);
  }

  @media screen and (min-width: var(--breakpoint-tablet)) {
    width: 25rem;
  }
  @media screen and (min-width: var(--breakpoint-desktop)) {
    width: 30rem;
  }
}
.login_form_label {
  display: block;
}
.forgot_password_btn {
  margin-top: 1rem;
}
