.login_wrapper {
  display: flex;
  flex-direction: column;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: -6.2rem;
    width: 0.2rem;
    background-color: var(--background-color);
  }
}

.login_btn {
  text-align: center;
}
.login_title {
  text-align: center;
}
