.users_table {
  border-collapse: collapse;
  width: 100%;
}

.users_table td,
th {
  border: 0.1rem solid var(--accent-color);
  text-align: center;
  padding: 1rem;
}

.users_table tr:nth-child(even) {
  background-color: var(--accent-color);
}
