.inputContainer {
  display: flex;
  flex-direction: column;
}

.numberInput,
.errorInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(205, 205, 205);
  border-radius: 5px;
  padding: 0 15px;
}

.errorInput {
  border: 1px solid #d32f30; /* Add any styles to highlight the input on error */
}

.numberInput:focus-within {
  border: 2px solid #007bff;
}

.numberInput input[type='number'],
.errorInput input[type='number'] {
  border: none;
  padding: 17px 0;
  font-size: 16px;
  outline: none;
  background-color: transparent;
}

.numberInput input[type='number']:focus {
  border: 0px solid transparent;
}

.errorText {
  display: flex;
  align-self: center;
  color: #d32f30;
  font-size: 12px;
}
