.numberInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(205, 205, 205);
  border-radius: 5px;
  padding: 0 15px;
}

.numberInput:focus-within {
  border: 2px solid #007bff;
}

.numberInput input[type="number"] {
  border: none;
  padding: 17px 0;
  font-size: 16px;
  outline: none;
  background-color: transparent;
}

.numberInput input[type="number"]:focus {
  border: 0px solid transparent; /* Set to transparent to override the default focus border */
}
