.main_container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.info_container {
  display: flex;
}

.method_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

@media screen and (max-width: 876px) {
  .info_container {
    flex-direction: column;
  }
}
