.menu_navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10em;
}

.menu_navigation_btn {
  border: none;
  background-color: transparent;
  border-bottom: solid 2px var(--btn-rgba);
  transition: all 0.4s;
  color: var(--main-color);

  padding-bottom: var(--desktop-internal-padding);
  
}
.menu_navigation_btn:hover {
  border-bottom: solid 2px var(--text-color);
}
.active {
  transform: scale(1.1);
  border-bottom: solid 2px var(--text-color);
  font-weight: var(--titles-subheadings-font-weight);
}
