.headerWrapper {
    font-size: var(--font-size-l);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5.625rem;
    background-color: var(--darkBG-color);
    color: var(--light-color);
}

.logoLink {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    font-size: var(--font-size-xl);
}

.logoLink,
.cartLink,
.profileLink,
.reserveTableLink,
.menuLink,
.ordersLink {
    color: var(--light-color);
    vertical-align: middle;
    text-decoration: none;
}

.logoImg, .cartImg, .profileImg {
    height: 2.8rem;
    width: 3rem;
}

.headerWrapper a.active {
    color: lightblue;
}