.progress_bar_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
}

.container {
  max-width: 30rem;
  width: 100%;
}

.container .steps {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  position: relative;
}

.steps .circle {
  display: flex;
  height: 4rem;
  width: 4rem;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-xxl);
  border-radius: 50%;
  color: var(--progress-bar-color);
  background-color: var(--background-color);
  border: 0.3rem solid var(--progress-bar-color);
}

.steps .circle.isActive {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.steps .progress_bar {
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: #aca7a7;
  z-index: -1;
}

.progress_bar .progress_bar_indicator {
  position: absolute;
  height: 100%;
  width: 10%;
  background: var(--accent-color);
}
